@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.is-centered {
    text-align: center !important;
    display: block !important;
    margin-top: 1rem;
}
.register:hover {
    text-decoration: underline;
}
.message {
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 4px;
}
.error {
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}
.success {
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
}
